/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');*/

* {
    box-sizing: border-box;

}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    /*no repeat images on background*/
    background-repeat: no-repeat;
    height: 85vh;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    /*make images symmetrical*/
    flex: 0.5;
    margin: 10px;
    /*to make position of h3 inside absolute*/
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    /*move to bottom side of the section*/
    bottom: 20px;
    left: 10%;
    margin: 0 auto;
    /*make h3 tags invisible*/
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
}
